.jumbotron-bg {
  margin-left: -15px;
  margin-right: -15px;
  padding-bottom: 50px;
  padding-top: 25px;
}

.btn-primary--turbo {
  margin-top: 50px;
  margin-left: 25px;
}

.skills {
  max-width: 1000px;
}
